<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task4</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- HEADER -->
    <nav class="navbar navbar-light bg-white border-bottom mb-4">
        <div class="container">
            <span class="navbar-brand fw-semibold">Task4 Admin Panel</span>
        </div>
    </nav>

    <!-- MAIN -->
    <div class="container flex-grow-1">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="text-center text-muted py-2 border-top mt-auto">
        Task4
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>